.chat{
  padding-left:10px;
  padding-right: 10px;
  position: relative;
  width: 98%;
  height: 100%;
  /* border-bottom: 1px solid ; */


}
.header-chatpage{
  position:relative;
  width: 100%;

  height: 70px;
  display: flex;
  overflow: hidden;
  gap: 10px;
  cursor:pointer;
  border-bottom: 1px solid var(--special-icon-color);
}
.header-title{
  position: relative;
  top: 10px;
  left: 5px;
  height: 24px;
  overflow: hidden;
  font-feature-settings: "kern";
  color: var(--chats-name-on);
}
.chata-info{
  flex-direction: column;
  display: flex;
  gap: 5px;
  flex: 1;
  /* width: 66%; */
  top: 5px;
}
.left-header{
  left: 5px;
}
.descript{
  font-size: 14px;
  height: 20px;
  overflow: hidden;
    /* flex */
  position: relative;
    /* width: %; */
  /* color: var(--recent-message-off); */
  overflow: hidden;
}
.footer{
  position: relative;
  min-height: 62px;
  display: flex;
  color: var(--primary-text);
}
.footer > div{
  position: relative;
  display: flex;
  width: 100%;
} 
.input{
  flex: 1;
  font-size: 15px;
  outline: none;
  margin: 9px 12px 4px 16px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  line-break: anywhere;
  overflow-y:auto;
  min-height: 20px;
  height: fit-content;
  color: var(--primary-text);
}
.side-icons-panel {
  position: relative;
  align-items: center;
  display: flex;
  gap: 5px;
  padding-right: 5px;
  padding-left: 5px;
  width: 150px;
}
.side-icons-panel > button , .button-footer {
  position: sticky;
  width: 40px;
  height: 40px;
  border-radius: 9px;
  border: 0px;
  cursor: pointer;
}
.side-icons-panel > button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-footer {
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  /* margin-top: 5px; */
  justify-content: center;
  
  cursor: pointer;
}
.button-normal{
  font-size: 17px;
  background-color: initial;
  color: var(--primary-text);
}
.button-selected {
  font-size: 14px;
  background-color: var(--special-btn-selected);
  /* background-color: #fff3f1; */
  /* background-color:#3a2724 ; */
  /* chat title color  #141844 */
/* button-footer background #3a2724 */
/* missed-panel #221e1c */
}
.first-column-footer{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}