.chat{
  padding-left:10px;
  padding-right: 10px;
  position: relative;
  width: 98%;
  height: 100%;
  /* border-bottom: 1px solid ; */


}
.header-chatpage{
  position:relative;
  width: 100%;

  height: 70px;
  display: flex;
  overflow: hidden;
  gap: 10px;
  cursor:pointer;
  border-bottom: 1px solid var(--special-icon-color);
}
.header-title{
  position: relative;
  top: 10px;
  left: 5px;
  height: 24px;
  overflow: hidden;
  font-feature-settings: "kern";
  color: var(--chats-name-on);
}
.chata-info{
  flex-direction: column;
  display: flex;
  gap: 5px;
  width: 60%;
  top: 5px;
}
.left-header{
  left: 5px;
}
.descript{
  font-size: 14px;
  height: 20px;
  overflow: hidden;
    /* flex */
  position: relative;
    /* width: %; */
  /* color: var(--recent-message-off); */
  overflow: hidden;
}

.chat-body{
  position: relative;
  height: 87%;
  display: flex;
  flex-direction: column;
}
.copybale-area{
  position: relative;
  flex: 1;

}