.setting-holder{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 4px;
  padding: 4px;
  top: 10px;
  flex-direction: column;
}

.Avatar-holder{
  position: relative;
  width: 100%;
  
  cursor: pointer;
  height: 90px;
  display: flex;
  gap:6px;
}
.Avatar-holder:hover{
  background-color: var(--side-navigation-background);

}
.title-desc{
  position: relative;
  width: 100%;
  /* background-color:aqua; */
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 13px;
  overflow: hidden;
}
.title-desc > span{
  overflow: hidden;
}