.chat-list-body{
  position: relative;
  top: 20px;
  
  /* overflow-y: scroll; */
  width: 94.56%;
  left: 6px;
}
.chat-list-body > div{
  padding: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 10px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}
.card-container{
  position: relative;
  width: 100%;
  height: 76px;

}
.outline-card{
  position: relative;
  text-decoration: none;
  background: var(--outline-card-active);
  width: 100%;
  gap: 10px;
  cursor: pointer;
  /* border: 42px; */
  align-items: center;
  display: flex;
  /* padding-left: 15px; */
  /* left: 16px; */
  /* border-radius: 9px; */
  border-radius: 9px 9px 0px;
  height: 66px;
}  
// .outline-card:hover{
//   // content: attr(data-tooltip);
//   .dropdown{
//     display: "flex";
    
//   }
// }
.outline-card:hover .dropdown{
  visibility: visible;
}
.dropdown{
  visibility: hidden;
}

.text-holder{
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;
  left: 5px;
  flex-direction: column;
}
.content{
  display: flex;
  padding-right: 13px;
  text-align: left;
  height:25px;
  gap: 10px;
}
.timestamp{
  font-size: 12px;
  /* color:var(--recent-message-off); */
  position: relative;
  top: 5px;
}
.chat-title{
  font-size: 17px;
  height: 100%;
  /* width: 64%; */
  flex: 1;
  overflow: hidden;
  position: relative;
  color: var(--chats-name-on);

}
.recent-msg{
  font-size: 14px;
  height: 20px;
  position: relative;
  flex: 1;

  /* width: 60%; */
  /* color:var(--recent-message-off); */
  overflow: hidden;
}
.text{
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info{
  display: flex;
  padding-right: 8px;
  gap: 10px;
}
.chat-icons{
  position: relative;
  width: 32%;
  gap: 12px;
  align-items: center;
  display: flex;
}
.chat-icon{
  width: 18px;
  position: relative;
  height: 18px;
  color: var(--chat-card-icons);
}
.archived{
  position: relative;
  height: 38px;
  width: 97%;
  cursor:pointer;
  padding-left: 6px;
}
.archive-card-outline{
  position: relative;
  width: 93%;
  display: flex;
  gap: 17.75px;
  left: 15px;
  height: 100%;
}
.chat-body-height{
  height: 80%;
}
.badge-chat-list{
  left: 26px;
  height: 6px;
  top: 26px;
  width: 6px;
}

