.chat-body{
  position: relative;
  height: 88%;
  /* padding-top: 1%; */
  display: flex;
  flex-direction: row;
}
.popup-area{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

}
.popup-area > div{
  width: 100%;
  height: 100%;
  align-items: center;
}
.copybale-area{
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow:hidden;

}
.right-padding{
  right: 60px;
}
.conversion-panel-messages{
  position: relative;
  /* background-color: var(--sidebar-background); */
  /* flex: 1; */
  height:86%;
  padding-bottom: 10px;
  /* gap: 2%; */
  /* overflow: auto; */
}
.messages{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y:scroll;
}
.row{
  position: relative;
  width: 100%;
  height: fit-content;
  padding-bottom: 0px;
  padding-top: 3px;
  min-height: 33px;
  /* background-color: aquamarine; */
  

  /* background-color: aquamarine; */
}
.msg-content{
  position: relative;
  border-radius: 9px 9px 9px 0px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background: lightgreen;
  padding: 9px;
}
.msg-information{
  display: flex;
  width: 100%;

}
.timestamp-chat{
  /* color: #dddddd; */
  font-size: 11px;
  font-weight: 100;
  flex:1;
  align-items: self-start;
}
.msg-container {
  position: relative;
  width: fit-content;
  padding: 7px;
  display: flex;
  gap: 0px;
  max-width: 60%;
  align-items: self-start;
  /* padding-left: 53px;
  padding-top: 15px; */
  /* background-color: aquamarine; */
  /* min-width: 50px; */
  height: fit-content;
  min-height: 33px;
  border-radius: 5px;
  flex-direction: column;
}
.message-text{
  width: 100%;
  min-width: 49px;
  position: relative;
  line-break: anywhere;
}
.left-corner{
  border-radius: 9px 9px 0px 9px;
}
.left{
  /* align-items: flex-start; */
  display: flex;
  /* flex-direction: row; */
  flex-direction: row;
  gap: 17px;
  padding-left: 7px;
}
.right{
  /* position: relative; */
  align-items: flex-end;
  display:flex;
  flex-direction: column;
}
.center{
  align-items: center;
  display:flex;
  flex-direction: column;
}
.turn-to-bottom{
  position: absolute;
  top: 86%;
  cursor: pointer;
  left: 93.8%;
  display: flex;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--sidebar-background);
}
.left-center{
  position: relative;
  left: 11px;;

}

.left-start{
  align-items: flex-start;
}
.msg-info{
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  margin-top: -10px;
}
.missed-call-panel {
  position: relative;
  display: flex;
  width: 300px;
  height: 70px;
  margin-right: 9px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 9px;
  background-color: var(--missed-call-panel);
  /* background-color: #fef9f6; */
  /* background-color: #221e1c; */
  /* background-color: #230c00; */
  /* button-footer background #3a2724 */
  /* chat title color  #141844 */
/* missed-panel #221e1c */
}
.missed-call-content{
  padding: 14px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.call-back{
  background: #3c2da6;
  color: white;
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 9px;
  margin-right: 7px;
  display: flex;
  /* margin-top: 8px; */
  align-items: center;
  justify-content: center;
}

.status-msg{
  text-align: end;

  right: 5px;
  
  position: relative;
}