
.app{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

}
.flex1{
  flex: 1;
}
.bend-left{
  border-radius: 9px 9px 0px;
}
.blue{
  background-color:var(--sidebar-background);
  height: 100%;
  z-index: 100;
  
    /* overflow: hidden; */

}
.white{
  background-color: var(--side-navigation-background);
}
.curved{
  
  border-radius: 9px;
}
.outline{
  outline: 0;
}
.padding-left{
  padding-left: 16px; 
}
.page{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 100%;
}
.title{
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  font-size: 16px;
}
.typing{
  font-size: 14px;
  height: 20px;
  position: relative;
  color: var(--typing);
  overflow: hidden;
}
.text-info{
  font-size: 14px;
  height: 20px;
  position: relative;
  color: var(--recent-message-off);
  overflow: hidden;
}
.on{
  /* font-size: 15px; */
  font-weight: 500;
  color:black;
}
.off{ 
  color:var(--recent-message-off);
}
.border-left{
  border-left:1px solid var(--border-color);
}
.border-right{
  border-right: 1px solid var(--border-color);
}
.border-top{
  border-top: 1px solid var(--border-color);
  
}
.border-bottom{
  border-bottom: 1px solid var(--border-color);
}
.border{
  border: 1px solid var(--border-color);;
}
.only-show-hover{
  display: none;
}
.only-show-hover::after{
  display: block;
}

.green{
  color:#00a884;
}
.pointer{
  cursor: pointer;
}
.x-33{
  font-size: 33px;
  width: 33px;
  height: 33px;
}
.chats,.settings,.contacts{
  position: relative;
  width: 300px;
  min-width:300px;
  overflow: hidden;
  
}