
.app{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flex1{
  flex: 1;
}
.bend-left{
  border-radius: 9px 9px 0px;
}
.blue{
  background-color:var(--sidebar-background);
  height: 100%;
  z-index: 100;
  
    /* overflow: hidden; */

}
.white{
  background-color: var(--side-navigation-background);
}
.curved{
  
  border-radius: 9px;
}
.outline{
  outline: 0;
}
.padding-left{
  padding-left: 16px; 
}
